<h2 class="page-header">REGISTER</h2>

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger" role="alert">
      <i class="fas fa-exclamation-triangle"></i>
      {{msg}}
    </div>
  {{/each}}
{{/if}}

<form method="POST" action="/users/register" class="mb-5">
  <div class="form-group">
    <label for="registerName">Name</label>
    <input type="text" class="form-control" name="name" id="registername" aria-describedby="namelHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="registerUsername">Username</label>
    <input type="text" class="form-control" name="username" id="registerUsername" aria-describedby="usernameHelp" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="registerEmail">Email address</label>
    <input type="email" class="form-control" name="email" id="registerEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="registerpassword1">Password</label>
    <input type="password" class="form-control" name="password" id="registerpassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="registerpassword2">Confirm Password</label>
    <input type="password" class="form-control" name="password2" id="registerpassword2" placeholder="Retype the password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>